<div class="modal fade account" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="myModalLabel">{{ctrl.userPass.username}}'s Account</h3>
        <img class="mickey-icon" src="/assets/Mickey_Mouse_head.png" alt="mickey"/>
      </div>
      <div class="modal-body">

        <!-- Tabs -->
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link-active" href="#account" data-toggle="tab" role="tab">Memories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#create" data-toggle="tab" role="tab" ng-click="ctrl.getPosts">Create memories.</a>
          </li>
        </ul>

        <div class="tab-content">
          <!-- Tab 1 -->
          <div class="tab-pane fade in show active" id="account" role="tabpanel">
            <h4>Magic memories.</h4>

            <div ng-repeat="post in ctrl.posts">
              <h5>Title: {{post.title}}</h5>
              <p class="text">{{post.content}}</p>
            </div>
          </div>

          <div class="tab-pane fade" id="create" role="tabpanel">
            <h4>Share your memories.</h4>
            <form ng-submit="ctrl.createPost(land.id)">
              <h5>Title: </h5>
              <input type="text" ng-model="ctrl.post.title">
              <br>
              <h5>Memory: </h5>
              <input class="text" type="textarea" ng-model="ctrl.post.content">
              Land:
              <!-- does not work -->
              <select>
                <option ng-repeat="land in ctrl.lands" value="{{land.id}}" >{{land.name}}</option>
              </select>
              <input class="btn btn-info" type="submit">
            </form>

            <img class="mickey-icon" src="/assets/Mickey_Mouse_head.png" alt="mickey"/>

            <form class="edit" ng-repeat="post in ctrl.posts"  ng-submit="ctrl.editPost(post.title, post.content, post.id)">
              <h5>Title: </h5>
              <input type="text" ng-model="post.title" placeholder="{{post.title}}">
              <h5>Memory: </h5>
              <input class="text" type="textarea" ng-model="post.content" placeholder="{{post.content}}">
              <br><br>
              <button type="submit" class="btn btn-warning">Edit</button>
              <button type="button" ng-click="ctrl.deletePost(post.id)" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
            </form>

          </div>
        </div>   <!--  end tab content -->

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
