<div class="modal fade account" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">{{ctrl.userPass.username}}'s Account</h3>
      </div>
      <div class="modal-body">

            <h4>Magic memories.</h4>
            <form ng-submit="ctrl.createPost(land.id)">
              <h5>Title: </h5>
              <input type="text" ng-model="ctrl.post.title">
              <br>
              <h5>Memory: </h5>
              <input class="text" type="textarea" ng-model="ctrl.post.content">
              <br>
              <input class="btn btn-info" type="submit">
            </form>
            <br>


          <h4>All of your memories.</h4>
          <img ng-click="ctrl.getPosts()" class="mickey-icon" src="/assets/Mickey_Mouse_head.png" alt="mickey"/>
          <div ng-repeat="post in ctrl.posts">
            <h5>Title: {{post.title}}</h5>
            <p class="text">{{post.content}}</p>
            <br>
            <form ng-submit="ctrl.editPost(post.title, post.content, post.id)">
              <h5>Title: </h5>
              <input type="text" ng-model="post.title" placeholder="{{post.title}}">
              <h5>Memory: </h5>
              <input class="text" type="textarea" ng-model="post.content" placeholder="{{post.content}}">
              <br><br>
              <button type="submit" class="btn btn-warning"><span class="glyphicon glyphicon-ok"></span></button>
            </form>

            <button type="button" ng-click="ctrl.deletePost(post.id)" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
          </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
